In [134]:
# Dependencies
import pandas as pd

In [135]:
# Store filepath in a variable
nba_data = "Resources/nba_season_data_07_17.csv"
win_shares = "Resources/win_shares.csv"

In [136]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
nba_data_df = pd.read_csv(nba_data, encoding="ISO-8859-1")
win_shares_df = pd.read_csv(win_shares, encoding="ISO-8859-1")

In [137]:
# Show just the header
nba_data_df.head()

     player_name team_abbreviation  age  player_height   pts  reb   season
0  Zaza Pachulia               ATL   24         210.82   5.2  4.0  2007-08
1  Danny Granger               IND   25         203.20  19.6  6.1  2007-08
2       Acie Law               ATL   23         190.50   4.2  1.0  2007-08
3    Eddie House               BOS   30         185.42   7.5  2.1  2007-08
4    Eddie Jones               DAL   36         198.12   3.7  2.8  2007-08

In [138]:
nba_data_df['player_height'] = nba_data_df['player_height'].astype(float)

In [139]:
nba_data_df['player_height'] = nba_data_df['player_height'].apply(lambda x : x*0.393071)

In [149]:
nba_data_df = nba_data_df.round(2)

In [150]:
mia_query_df = nba_data_df.query('team_abbreviation == "MIA" & season == "2012-13"')
mia_query_df.head()

         player_name team_abbreviation  age  player_height   pts  reb   season
2342     Dwyane Wade               MIA   31          75.88  21.2  5.0  2012-13
2396  Chris Andersen               MIA   34          81.87   4.9  4.1  2012-13
2397      Chris Bosh               MIA   29          82.87  16.6  6.8  2012-13
2463    LeBron James               MIA   28          79.87  26.8  8.0  2012-13
2489    Joel Anthony               MIA   30          80.87   1.4  1.9  2012-13

In [151]:
sas_query_df = nba_data_df.query('team_abbreviation == "SAS" & season == "2013-14"')
sas_query_df.head()

        player_name team_abbreviation  age  player_height   pts  reb   season
2744    Aron Baynes               SAS   27          81.87   3.0  2.7  2013-14
2746    Austin Daye               SAS   26          82.87   3.0  1.2  2013-14
2769     Boris Diaw               SAS   32          79.87   9.1  4.1  2013-14
2824  Kawhi Leonard               SAS   23          78.87  12.8  6.2  2013-14
2864     Jeff Ayres               SAS   27          80.87   3.3  3.5  2013-14

In [152]:
gsw_query_df = nba_data_df.query('team_abbreviation == "GSW" & season == "2014-15"')
gsw_query_df.head()

,player_name,team_abbreviation,age,player_height,pts,reb,season
3221,Marreese Speights,GSW,27,81.87,10.4,4.3,2014-15
3249,Ognjen Kuzmic,GSW,25,83.87,1.3,1.1,2014-15
3301,Leandro Barbosa,GSW,32,74.88,7.1,1.4,2014-15
3304,Brandon Rush,GSW,29,77.88,0.9,1.2,2014-15
3310,Andrew Bogut,GSW,30,83.87,6.3,8.1,2014-15

In [153]:
win_shares_df.head()

,Year,Lg,Champion,Finals MVP,Points Leader,Points,Rebounds Leader,Rebounds,Assists Leader,Assists,Win Shares Leader,Win Shares
0,2017,NBA,GSW,Kevin Durant,LeBron James,591,Kevin Love,191,LeBron James,141,LeBron James,4.3
1,2016,NBA,CLE,LeBron James,Klay Thompson,582,Danny Green,228,Russell Westbrook,198,LeBron James,4.7
2,2015,NBA,GSW,Andre Iguodala,LeBron James,601,Dwight Howard,238,LeBron James,169,Stephen Curry,3.9
3,2014,NBA,SAS,Kawhi Leonard,Kevin Durant,563,Tim Duncan,211,Russell Westbrook,153,LeBron James,4.3
4,2013,NBA,MIA,LeBron James,LeBron James,596,Tim Duncan,214,LeBron James,152,LeBron James,5.2

In [154]:
finals_df = win_shares_df.query('Year == "2013" | Year == "2014" | Year == "2015"')
finals_df

,Year,Lg,Champion,Finals MVP,Points Leader,Points,Rebounds Leader,Rebounds,Assists Leader,Assists,Win Shares Leader,Win Shares
2,2015,NBA,GSW,Andre Iguodala,LeBron James,601,Dwight Howard,238,LeBron James,169,Stephen Curry,3.9
3,2014,NBA,SAS,Kawhi Leonard,Kevin Durant,563,Tim Duncan,211,Russell Westbrook,153,LeBron James,4.3
4,2013,NBA,MIA,LeBron James,LeBron James,596,Tim Duncan,214,LeBron James,152,LeBron James,5.2

In [155]:
# Export file as a CSV, without the Pandas index, but with the header
finals_df.to_csv("finals.csv", index=False, header=True)
mia_query_df.to_csv("mia.csv", index=False, header=True)
sas_query_df.to_csv("sas.csv", index=False, header=True)
gsw_query_df.to_csv("gsw.csv", index=False, header=True)